.app
  display: flex
  flex-direction: column
  justify-content: center
  height: 100vh
  margin: 0 20px

  .inputContainer
    margin: 0 0 20px 0
    .autocomplete
      margin: 0 0 20px 0
    .textField
      width: 100%
      margin: 0 0 20px 0
    .calculateBtn
      width: 100%
      height: 56px

  .ibanContainer
    display: none
    background: #f5f8fa
    font-size: 20px
    font-weight: 500
    text-align: center
    border: 1px #0081de solid
    border-radius: 6px
    padding: 15px 10px

  .show
    display: block

@media screen and ( min-width: 1024px )
  .app
    max-width: 1024px
    margin: 0 auto
    .inputContainer
      display: flex
      justify-content: space-between
      margin: 0
      .autocomplete,
      .textField
        width: 400px
      .calculateBtn
        width: 200px

  